@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* line 20, ../sass/main.scss */
.bk-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
/* line 33, ../sass/main.scss */
.bk-modal a {
  outline: none;
}
/* line 38, ../sass/main.scss */
.bk-checker:checked + .bk-modal {
  display: flex;
}
/* line 43, ../sass/main.scss */
.bk-modal label[for="bk-modal"] {
  position: absolute;
  top: 37px;
  right: 50px;
  display: inline-block;
  cursor: pointer;
}
/* line 51, ../sass/main.scss */
.bk-modal .search-form {
  margin-top: 20px;
}
/* line 54, ../sass/main.scss */
.bk-modal .search-form .search-form-input {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 54, ../sass/main.scss */
  .bk-modal .search-form .search-form-input {
    max-width: 744px;
    margin: 0 auto;
  }
}
/* line 64, ../sass/main.scss */
.bk-modal .search-form .search-form-input .inner {
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
/* line 68, ../sass/main.scss */
.bk-modal .search-form .search-form-input .inner.in {
  opacity: 1;
}
/* line 74, ../sass/main.scss */
.bk-modal .search-form .search-form-input.filled .modal-clear-input {
  right: 16px;
  opacity: 1;
  pointer-events: all;
}
/* line 79, ../sass/main.scss */
.bk-modal .search-form .search-form-input.filled:after {
  right: -20px;
  opacity: 0;
}
/* line 85, ../sass/main.scss */
.bk-modal .search-form .search-form-input:after {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 19px;
  right: 16px;
  content: '';
  opacity: 1;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 102, ../sass/main.scss */
.bk-modal .search-form .search-form-input .modal-clear-input {
  position: absolute;
  top: 8px;
  right: -18px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 0;
  line-height: 36px;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  color: #9C9C9C;
}
/* line 121, ../sass/main.scss */
.bk-modal .search-form .search-input {
  background: none;
  width: 100%;
  line-height: 36px;
  padding: 8px 16px;
  font-size: 24px;
  font-weight: 300;
  color: #4A4A4A;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #9C9C9C;
}
/* line 136, ../sass/main.scss */
.bk-modal .search-form .search-input::-webkit-input-placeholder {
  color: #9C9C9C;
}
/* line 137, ../sass/main.scss */
.bk-modal .search-form .search-input::-moz-placeholder {
  color: #9C9C9C;
}
/* line 138, ../sass/main.scss */
.bk-modal .search-form .search-input:-ms-input-placeholder {
  color: #9C9C9C;
}
/* line 139, ../sass/main.scss */
.bk-modal .search-form .search-input:-moz-placeholder {
  color: #9C9C9C;
}

/* line 143, ../sass/main.scss */
.bk-modal-body {
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
  border-radius: 0;
  padding: 30px;
}

/* line 150, ../sass/main.scss */
.bk-modal-content {
  padding: 0px;
}

/* line 153, ../sass/main.scss */
.bk-modal-footer {
  overflow: hidden;
}

/* line 156, ../sass/main.scss */
.bk-modal-categories {
  list-style: none;
  overflow: hidden;
  position: relative;
  margin: 18px 0 40px;
  padding: 0 0 0 85px;
  overflow-x: auto;
  white-space: nowrap;
}
/* line 165, ../sass/main.scss */
.bk-modal-categories:before {
  content: 'Category:';
  display: inline-block;
  position: absolute;
  left: -80px;
  opacity: 0;
  font-weight: 300;
  font-size: 18px;
  color: #4A4A4A;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  line-height: 29px;
}
/* line 178, ../sass/main.scss */
.search-form-input > .in .bk-modal-categories, .bk-modal-categories.on {
  min-height: 31px;
}
/* line 182, ../sass/main.scss */
.search-form-input > .in .bk-modal-categories:before, .bk-modal-categories.on:before {
  left: 0;
  opacity: 1;
}
/* line 188, ../sass/main.scss */
.bk-modal-categories li {
  display: inline-block;
  float: none;
  margin-right: 12px;
  margin-bottom: 12px;
}
/* line 194, ../sass/main.scss */
.bk-modal-categories li:last-child {
  margin-right: 0;
}
/* line 197, ../sass/main.scss */
.bk-modal-categories li a {
  outline: none;
  line-height: 31px;
  background: #E5E5E5;
  border-radius: 20px;
  text-decoration: none;
  font-size: 15px;
  padding: 0 8px;
  display: block;
  color: #4A4A4A;
}
/* line 208, ../sass/main.scss */
.bk-modal-categories li a.active {
  background-color: #196ADA;
  color: #fff;
}

/* line 215, ../sass/main.scss */
.bk-modal .search-form .search-form-input .bks-btn-wrap {
  margin: 0 0 30px;
}
/* line 218, ../sass/main.scss */
.bk-modal .search-form .search-form-input .bks-btn-wrap a {
  color: #196ADA;
  font-weight: bold;
  font-size: 16px;
}

/* line 224, ../sass/main.scss */
.bk-modal .search-form .search-form-input .modal-clear-input-2 {
  background-color: #FFAA00;
  border: 0;
  color: #fff;
  text-decoration: none;
  outline: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  right: auto;
  position: relative;
  top: auto;
  padding: 0;
  margin: 0;
  line-height: 50px;
  min-width: 186px;
}

/* line 242, ../sass/main.scss */
.bks-no-results {
  text-align: center;
  color: #4A4A4A;
  font-family: Roboto, sans-serif;
}
/* line 247, ../sass/main.scss */
.bks-no-results .bks-404-icon {
  margin: 0 0 35px;
}
/* line 250, ../sass/main.scss */
.bks-no-results h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin: 130px 0 15px;
}
/* line 257, ../sass/main.scss */
.bks-no-results p {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin: 0 0 15px;
}

/* line 264, ../sass/main.scss */
#bk-modal-cat-all {
  padding: 0 24px;
}

/* line 267, ../sass/main.scss */
.bks-wrap-loading {
  text-align: center;
  padding-top: 80px;
}

/* line 271, ../sass/main.scss */
.bks-loading {
  max-width: 24px;
  height: auto;
}

/* line 275, ../sass/main.scss */
.bks-controls {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 280, ../sass/main.scss */
.bks-controls > a {
  cursor: pointer;
  margin: 4px;
  width: 39px;
  height: 39px;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  color: #FFAA00;
  background: white;
  border-radius: 3px;
  text-align: center;
  line-height: 38px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08);
}
/* line 298, ../sass/main.scss */
.bks-controls > a.prev svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 307, ../sass/main.scss */
.bks-controls > a:hover, .bks-controls > a:focus {
  text-decoration: none;
}
/* line 311, ../sass/main.scss */
.bks-controls > a.active {
  background: #FFAA00;
  color: white;
  cursor: default;
}
/* line 319, ../sass/main.scss */
.bks-controls.hide-next a.next {
  display: none;
}

@media (min-width: 768px) {
  /* line 324, ../sass/main.scss */
  .search-results-output {
    height: 480px;
  }
}
/* line 329, ../sass/main.scss */
.search-results-output .bk-item-thumb {
  float: left;
  margin-right: 15px;
  width: 122px;
  height: 180px;
}
/* line 335, ../sass/main.scss */
.search-results-output .bk-item-author {
  line-height: 28px;
  color: #9C9C9C;
  position: absolute;
  bottom: 15px;
  left: 137px;
  right: 15px;
}
/* line 343, ../sass/main.scss */
.search-results-output .bk-item-author img {
  width: 28px;
  height: 28px;
  float: left;
  border-radius: 50%;
  margin-right: 7px;
}
/* line 351, ../sass/main.scss */
.search-results-output .bk-item-content {
  text-align: left;
  padding-right: 8px;
}
/* line 355, ../sass/main.scss */
.search-results-output .bk-item-content p:first-child {
  font-size: 13px;
  line-height: 120%;
  margin: 0;
  padding: 15px 0 10px;
  color: #9C9C9C;
}
/* line 362, ../sass/main.scss */
.search-results-output .bk-item-content h3 {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #171717;
}
/* line 370, ../sass/main.scss */
.search-results-output > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}
/* line 379, ../sass/main.scss */
.search-results-output > ul > li {
  margin: 8px;
  float: left;
  border-radius: 6px;
  overflow: hidden;
  width: 47.89%;
  flex-grow: 1;
  background: white;
  -webkit-box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.06);
}
/* line 391, ../sass/main.scss */
.search-results-output > ul > li.out {
  display: none !important;
}
/* line 395, ../sass/main.scss */
.search-results-output > ul > li > a {
  display: block;
  height: 180px;
  position: relative;
  text-decoration: none;
}

/* line 405, ../sass/main.scss */
.search-form-input header {
  text-align: left;
  display: none;
  margin: 0 0 40px;
}
/* line 410, ../sass/main.scss */
.search-form-input header .bk-list-total {
  width: 300px;
  text-align: right;
  float: right;
}
/* line 416, ../sass/main.scss */
.search-form-input header button {
  color: #B3B3B3;
  font-weight: bold;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  padding: 10px 0;
  line-height: 120%;
  margin: 0 30px 0 0;
  border-bottom: 2px solid transparent;
}
/* line 430, ../sass/main.scss */
.search-form-input header button.active {
  border-color: #196ADA;
  color: #000000;
}
/* line 436, ../sass/main.scss */
.search-form-input header.on {
  display: block;
}

/* line 442, ../sass/main.scss */
.pagination a {
  text-decoration: none;
  border: solid 1px #AAE;
  color: #15B;
}

/* line 443, ../sass/main.scss */
.pagination a, .pagination span {
  display: block;
  float: left;
  padding: 0.3em 0.5em;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* line 444, ../sass/main.scss */
.pagination .current {
  background: #26B;
  color: #fff;
  border: solid 1px #AAE;
}

/* line 445, ../sass/main.scss */
.pagination .current.prev, .pagination .current.next {
  color: #999;
  border-color: #999;
  background: #fff;
}

@media (max-width: 768px) {
  /* line 449, ../sass/main.scss */
  body {
    overflow-x: hidden;
  }

  /* line 452, ../sass/main.scss */
  .bk-modal .search-form .search-form-input.filled .modal-clear-input {
    top: 38px;
  }

  /* line 455, ../sass/main.scss */
  .bks-sticky-top {
    position: sticky;
    top: -30px;
    background: #f8f8f8;
    padding: 30px 0 10px;
    z-index: 95;
  }

  /* line 463, ../sass/main.scss */
  .bk-modal-categories {
    padding: 0;
  }

  /* line 466, ../sass/main.scss */
  .bk-modal-categories::before {
    content: none;
    display: none;
  }

  /* line 470, ../sass/main.scss */
  .bks-mob-total-wrap {
    display: flex;
    padding-top: 22px;
  }
  /* line 474, ../sass/main.scss */
  .bks-mob-total-wrap > * {
    flex-grow: 1;
  }
  /* line 478, ../sass/main.scss */
  .bks-mob-total-wrap .bks-mob-sortby {
    font-weight: 300;
    font-size: 14px;
  }
  /* line 482, ../sass/main.scss */
  .bks-mob-total-wrap .bk-list-total {
    text-align: right;
    font-size: 13px;
    color: #8E8E93;
  }

  /* line 488, ../sass/main.scss */
  .bk-modal label[for="bk-modal"] {
    right: 29px;
    top: 27px;
  }

  /* line 492, ../sass/main.scss */
  .bk-modal .search-form {
    margin-top: 10px;
  }
  /* line 495, ../sass/main.scss */
  .bk-modal .search-form .search-input {
    font-size: 16px;
    line-height: 30px;
  }

  /* line 500, ../sass/main.scss */
  .search-results-output > ul {
    padding-bottom: 111px;
    margin: 0;
  }
  /* line 503, ../sass/main.scss */
  .search-results-output > ul > li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  /* line 510, ../sass/main.scss */
  .bk-modal-body {
    overflow-y: scroll;
    position: relative;
  }
  /* line 514, ../sass/main.scss */
  .bk-modal-body:after {
    content: '';
    display: block;
    position: fixed;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    height: 111px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 95;
    pointer-events: none;
  }

  /* line 527, ../sass/main.scss */
  .bk-modal-categories {
    margin-bottom: 10px;
  }
}
